    body {
        color: var(--main-gray-version19);
        background: var(--main-bg-color);
        font-family: 'Yantramanav', sans-serif;
    }
    
    a,
    a:hover,
    a:focus {
        color: var(--main-blue-version3);
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--main-blue-version3);
        font-weight: 500;
        font-family: 'Cormorant Garamond', serif;
    }
    /********************************************************
    2. Comman CSS Start
********************************************************/
    
    .tor_btn {
        background: #fcd00d;
        color: #000;
        display: inline-block;
        border: 2px solid transparent;
        border-radius: 30px;
        height: 50px;
        line-height: 46px;
        text-align: center;
        padding: 0 15px;
        width: 170px;
        margin-top: 10px;
        z-index: 0;
        font-weight: 600;
        overflow: hidden;
        position: relative;
        z-index: 99;
        display: inline-table;
        font-family: 'Cormorant Garamond', serif;
        font-style: italic;
        vertical-align: middle;
        transition: all 0.3s ease-in-out;
        font-size: 1.2rem;
        letter-spacing: 1px;
    }
    
    .tor_btn:hover {
        color: #fff;
    }
    
    .tor_btn::before {
        background: #067b8f;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        border-radius: 30px;
        width: 0;
        height: 100%;
        display: block;
        transition: all 0.3s ease-in-out;
    }
    
    .tor_btn:hover:before {
        width: 100%;
    }
    /* .tor_btn:before,
    .tor_btn:after {
        background: var(--main-bg-color);
        content: '';
        position: absolute;
        z-index: -1;
        border-radius: 30px;
    }
    
    .tor_btn:after {
        height: 100%;
        width: 0;
        left: 0;
        top: 0;
        width: 0;
        border-radius: 30px;
    }
    
    .tor_btn:hover:after {
        width: 100%;
    }
     */
    
    .tor_btn:hover {
        color: #fff;
    }
    
    .tor_btn:after,
    .tor_btn {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    
    .tor_heading_wrpper {
        margin: 0px 0 41px 0;
    }
    
    .tor_heading {
        font-size: 42px;
        font-weight: 700;
        position: relative;
        padding: 0;
        font-style: italic;
        line-height: 50px;
    }
    
    #scroll {
        background: var(--main-red-version1);
        color: var(--main-bg-color);
    }
    
    .tor_subHeading {
        color: var( --main-bg-color);
        font-size: 32px;
        font-weight: 700;
        position: relative;
        padding: 0;
        margin: 22px 0 0;
        font-style: italic;
        display: inline-block;
        width: 100%;
    }
    /********************************************************
    3. Preloader CSS Start
********************************************************/
    
    .preloader_active .preloader_holder {
        background-color: var(--main-bg-color);
    }
    
    .preloader_active .preloader_holder .preloader span {
        box-shadow: 0px 0px 0px 0px var(--main-red-version1);
    }
    
    @-webkit-keyframes loadingCircles {
        0% {
            -webkit-transform: scale(0);
            opacity: 1;
            box-shadow: 0px 0px 0px 10px var(--main-red-version1);
        }
        100% {
            -webkit-transform: scale(1);
            opacity: 0;
            box-shadow: 0px 0px 0px 2px var(--main-red-version1);
        }
    }
    
    @-moz-keyframes loadingCircles {
        0% {
            -moz-transform: scale(0);
            opacity: 1;
            box-shadow: 0px 0px 0px 10px var(--main-red-version1);
        }
        100% {
            -moz-transform: scale(1);
            opacity: 0;
            box-shadow: 0px 0px 0px 2px var(--main-red-version1);
        }
    }
    
    @keyframes loadingCircles {
        0% {
            transform: scale(0);
            opacity: 1;
            box-shadow: 0px 0px 0px 10px var(--main-red-version1);
        }
        100% {
            transform: scale(1);
            opacity: 0;
            box-shadow: 0px 0px 0px 2px var(--main-red-version1);
        }
    }
    
    .preloader_open:before,
    .preloader_open:after {
        background-color: var(--main-bg-color);
    }
    /********************************************************
    4. Header CSS Start
********************************************************/
    
    .tor_header_wrapper {
        padding: 30px 0 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        right: 0;
    }
    
    .searchBtn,
    .searchBtn:focus,
    .searchBtn:hover {
        color: var(--main-bg-color);
        padding-left: 10px;
    }
    
    .tor_search_wrap .display_flex {
        align-items: center;
    }
    
    .tor_search_wrap .display_flex li {
        display: flex;
    }
    
    .main_menu_wrapper ul>li>a {
        font-weight: 400;
        letter-spacing: 2px;
        font-size: 1.1rem;
        transition: all 0.3s ease-in-out;
    }
    
    .main_menu_wrapper ul>li>a:hover {
        color: #067b8f;
    }
    
    .tor_logo {
        position: relative;
    }
    
    .fixed_header.fixed {
        background-color: #fff;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        box-shadow: 0 14px 28px rgb(0 0 0 / 12%), 0 10px 10px rgb(0 0 0 / 2%);
        padding: 0px 0px 0px;
    }
    
    .fixed_header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        background-color: transparent;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        padding: 10px 0 10px;
    }
    /********************************************************
    5. Banner CSS Start
********************************************************/
    
    .tor_banner_wrapper {
        padding: 274px 0 368px;
        position: relative;
        background-color: var(--main-green-version4);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
    }
    
    .banner-1 {
        background-image: url(../images/banners/3.jpg);
    }
    
    .banner-2 {
        background-image: url(../images/banners/2.jpg);
    }
    
    .banner-3 {
        background-image: url(../images/banners/1.jpg);
    }
    
    .tor_banner_text h6 {
        color: var(--main-bg-color);
        font-size: 42px;
        font-weight: 700;
        font-style: italic;
        margin-bottom: 8px;
    }
    
    .tor_banner_text h1 {
        font-size: 92px;
        font-weight: 700;
        line-height: 100px;
        color: var(--main-bg-color);
        font-style: italic;
        margin-bottom: 29px;
    }
    
    .tor_banner_form {
        max-width: 1320px;
        margin: auto;
    }
    
    .tor_banner_form form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border: none;
        border-radius: 100px;
        padding: 22px 25px 22px;
        align-items: center;
    }
    
    .tor_form_field {
        width: 20%;
        padding: 0 10px;
        text-align: center;
    }
    
    .tor_field_inner {
        height: 50px;
        border: 1px solid var(--main-blue-version2);
        padding: 0 40px 0 20px;
        border-radius: 40px;
        width: 100%;
        line-height: 50px;
        color: #000;
        font-size: 16px;
    }
    
    .tor_banner_form .tor_btn {
        margin: 0;
    }
    
    .tor_field_inner::-webkit-input-placeholder {
        color: var(--main-blue-version2);
    }
    
    .tor_field_inner::-moz-placeholder {
        color: var(--main-blue-version2);
    }
    
    .tor_field_inner:-ms-input-placeholder {
        color: var(--main-blue-version2);
    }
    
    .tor_field_inner:-moz-placeholder {
        color: var(--main-blue-version2);
    }
    
    .tor_form_field .nice-select:after {
        content: url(../images/down-arrow.png);
        border: none;
        height: 6px;
        margin-top: 0;
        right: 20px;
        top: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    
    .tor_field_inner:focus {
        border: 1px solid #067b8f;
    }
    
    .nice-select:active,
    .nice-select.open,
    .nice-select:focus {
        border-color: #ff1944;
    }
    
    .tor_form_field_inner {
        position: relative;
    }
    
    .tor_form_field_inner img,
    .tor_form_field_inner i {
        position: absolute;
        right: 20px;
        top: 15px;
    }
    
    input[type="date"] {
        display: block;
        position: relative;
        background: url("../images/calender.png") right 1rem center no-repeat;
        cursor: pointer;
    }
    
     ::-webkit-datetime-edit-text {
        opacity: 0;
    }
    
     ::-webkit-clear-button,
     ::-webkit-inner-spin-button {
        display: none;
    }
    
     ::-webkit-calendar-picker-indicator {
        position: absolute;
        width: 2.5rem;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        cursor: pointer;
        background: transparent;
    }
    
    .tor_field_inner input[type="date"]:hover::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
    
    .tor_field_inner input[type="date"]:hover::-webkit-calendar-picker-indicator:hover {
        opacity: 0;
    }
    /********************************************************
    6. Service CSS Start
********************************************************/
    
    .tor_service_wrapper {
        background: var(--main-bg-color);
        padding: 50px 0 20px;
        position: relative;
    }
    
    .tor_service_wrapper .row {
        align-items: center;
    }
    
    .tor_service_img .tor_heading {
        margin: 0 0 2px;
    }
    
    .tor_service_text {
        position: relative;
        border: none;
        border-radius: 6px;
        overflow: hidden;
    }
    
    .tor_service_text img {
        width: 100%;
    }
    
    .tor_service_hover {
        position: absolute;
        top: 100%;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.76);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        flex-wrap: wrap;
    }
    
    .tor_service_text:hover .tor_service_hover {
        top: 0;
        opacity: 1;
        visibility: visible;
    }
    
    .tor_nav_button {
        display: flex;
        flex-wrap: wrap;
        margin-top: 13px;
    }
    
    .tor_nav_button>div {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border: none;
        background: #fcd00d;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
    }
    
    .tor_nav_button>div:hover {
        background: var(--main-red-version1);
    }
    
    .tor_nav_button>div svg {
        height: 15px;
        width: 12px;
        fill: #fff;
    }
    
    .tor_nav_button>div:hover svg {
        fill: var(--main-bg-color);
    }
    
    .popup-youtube {
        width: 100%;
        display: inline-block;
    }
    
    .popup-youtube i {
        background: var(--main-gray-version22);
        color: var(--main-bg-color);
        width: 70px;
        height: 70px;
        line-height: 70px;
        border: none;
        border-radius: 50%;
    }
    
    @keyframes shadow-pulse {
        0% {
            box-shadow: 0 0 0 10px rgb(255 25 68);
        }
        100% {
            box-shadow: 0 0 0 25px rgba(251, 157, 92, 0);
        }
    }
    
    @keyframes shadow-pulse-big {
        0% {
            box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3);
        }
        100% {
            box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
        }
    }
    
    .tor_service_hover p {
        color: var(--main-gray-version19);
        width: 100%;
        margin-top: 5px;
    }
    
    .tor_service_hover .tor_btn {
        margin-top: 22px;
    }
    
    .tor_rating {
        color: var(--main-yellow);
    }
    
    .popup-youtube i:hover {
        background: var(--main-red-version1);
    }
    
    .tor_service_container {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    
    .tor_service_container:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    .tour_service {
        padding: 30px 0;
    }
    
    .tor_service_text,
    .tor_service_text:hover .tor_service_hover,
    .tor_service_text .tor_service_hover,
    .tor_service_hover,
    .tor_nav_button>div:hover,
    .tor_nav_button>div,
    .tor_nav_button>div svg,
    .tor_nav_button>div:hover svg,
    .popup-youtube i:hover,
    .popup-youtube i,
    .tor_service_container:hover,
    .tor_service_container {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    
    .prev {
        margin-right: 12px;
    }
    
    .tor_service_wrapper .tor_heading_wrpper {
        width: 100%;
        margin: 0;
    }
    /********************************************************
    7. Call To Action CSS Start
********************************************************/
    
    .tor_callToActionSecond_wrapper {
        position: relative;
        background: url(../images/callToAction.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        padding: 69px 0 80px;
    }
    
    .tor_callToActionSecond_wrapper:before {
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background: rgba(16, 16, 16, 0.76);
    }
    
    .tor_callToActionSecond_text h1 {
        font-size: 62px;
        font-style: italic;
        font-weight: 700;
    }
    
    .tor_callToActionSecond_text>p {
        font-size: 22px;
        margin: 8px 0 13px;
    }
    
    .tor_callToActionSecond_text .popup-youtube i {
        height: 120px;
        width: 120px;
        line-height: 120px;
        background: var(--main-red-version1);
        color: var(--main-bg-color);
        border: none;
        border-radius: 50%;
        font-size: 30px;
        position: relative;
        z-index: 1;
    }
    
    .tor_popup_wrpper {
        display: inline-block;
        width: auto;
        margin: 6px 0 15px;
    }
    
    .tor_popup_wrpper .popup-youtube {
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .tor_popup_wrpper span {
        background: rgba(255, 255, 255, 0.1);
        color: var(--main-bg-color);
        padding: 16px 40px 16px 70px;
        margin-left: -50px;
        position: relative;
        z-index: 0;
        border: none;
        font-size: 22px;
        border-radius: 40px;
    }
    /********************************************************
    8. Best Service CSS Start
********************************************************/
    
    .tor_best_serivce_wrapper {
        position: relative;
        width: 100%;
        padding: 69px 0 41px;
    }
    
    .tor_best_serivce_icon {
        width: 80px;
        height: 80px;
        text-align: center;
        background: var(--main-red-version1);
        line-height: 80px;
        display: inline-block;
        border: none;
        border-radius: 50%;
    }
    
    .tor_best_serivce_icon svg {
        height: 40px;
        width: 40px;
        fill: var(--main-bg-color);
    }
    
    .tor_best_serivce_img {
        display: inline-block;
        width: 100px;
        height: 100px;
        line-height: 98px;
        border: 1px dashed var(--main-gray-version23);
        border-radius: 50%;
        margin-bottom: 26px;
        position: relative;
        z-index: 1;
        background: var(--main-bg-color);
    }
    
    .tor_best_serivce_section h4 {
        font-size: 26px;
        font-weight: 700;
        font-style: italic;
        margin: 0 0 7px;
    }
    
    .tor_best_serivce_section {
        position: relative;
        margin-bottom: 30px;
    }
    
    .tor_best_serivce_section:before {
        position: absolute;
        content: url(../images/service_border.png);
        left: 50%;
        z-index: 0;
        transform: rotateX(-8deg);
        top: 30px;
    }
    
    .tor_best_serivce_wrapper .col-lg-3:last-of-type .tor_best_serivce_section:before {
        content: unset;
    }
    /********************************************************
    9. Package CSS Start
********************************************************/
    
    .tor_package_wrapper {
        width: 100%;
        display: inline-block;
        background: var(--main-gray-version24);
        position: relative;
        padding: 60px 0 60px;
        background: url(../images/service_bg_img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
    
    .tor_package_hover p {
        color: var(--main-gray-version19);
        width: 100%;
        margin: 5px 0 5px;
    }
    
    .tor_package_hover .tor_btn {
        margin-top: unset;
        margin-bottom: -100px;
        display: inline-block;
    }
    
    .tor_package_text:hover .tor_package_hover .tor_btn {
        margin-top: 29px;
        margin-bottom: 0px;
    }
    
    .tor_rating {
        color: var(--main-yellow);
        line-height: 12px;
    }
    
    .tor_package_text {
        position: relative;
        border: none;
        border-radius: 6px;
        overflow: hidden;
    }
    
    .tor_package_text img {
        width: 100%;
    }
    
    .tor_package_hover {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 1) 100%);
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        padding: 0 0 13px 40px;
        overflow: hidden;
    }
    
    .tor_package_hover:hover {
        padding: 0 0 40px 40px;
        background: rgba(0, 0, 0, 0.76);
    }
    
    .tour_packages_inner .bullets .swiper-pagination-bullet {
        background: var(--main-red-version1);
        margin: 0 3px;
        width: 8px;
        height: 8px;
    }
    
    .tour_packages_inner .bullets {
        width: 100%;
        text-align: center;
        margin-top: 38px;
        margin-bottom: 61px;
    }
    
    .tor_testimonials_section {
        margin-top: -30px;
    }
    
    .tour_packages_inner .bullets .swiper-pagination-bullet-active {
        width: 30px;
        border-radius: 50px;
    }
    
    .tor_heading_wrpper.tor_testimonial_heading {
        margin: 0px auto 31px;
    }
    
    .tor_package_text:hover,
    .tor_package_hover .tor_btn,
    .tor_package_text,
    .tor_package_hover,
    .tor_package_hover:hover,
    .tor_package_hover .tor_btn:hover {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    /********************************************************
    10. Testimonial CSS Start
********************************************************/
    
    .tor_testimonial_wrapper {
        width: 100%;
        display: inline-block;
        background: var(--main-bg-color);
        position: relative;
        padding: 0 0 60px;
    }
    
    .tor_testimonial_section {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 22px;
        line-height: 28px;
        color: var(--main-blue-version3);
        font-weight: 700;
        font-style: italic;
        align-items: center;
        padding: 0 15px;
    }
    
    .tor_client_info h4 {
        font-size: 22px;
        font-weight: 500;
        color: var(--main-red-version1);
    }
    
    .tor_client_info {
        background: url(../images/quote_bg.png);
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        padding: 50px 55px 50px 20px;
        background-color: var(--main-bg-color);
        /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.03); */
        border-radius: 3px 0px 0px 3px;
        margin: 30px 0;
        width: calc(100% - 270px);
        font-family: 'Cormorant Garamond', serif;
        background-size: 35%;
        min-height: 260px;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        line-height: 34px;
        font-weight: 700;
        border: 1px solid #ccc;
    }
    
    .tor_testimonial_img {
        width: 270px;
        position: relative;
    }
    
    .tor_testimonial_img img {
        border: none;
        border-radius: 6px;
    }
    
    .tor_testimonials_quote {
        background: var(--main-red-version1);
        display: inline-block;
        position: absolute;
        left: -35px;
        width: 70px;
        height: 70px;
        line-height: 70px;
        border: none;
        border-radius: 50%;
        top: 50%;
        box-shadow: 0 0 20px 0 rgba(255, 25, 68, 0.28);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    .tor_testimonials_section .tor_testimonials_button {
        width: 40%;
        margin: auto;
        position: absolute;
        left: 16%;
        z-index: 2;
        bottom: 80px;
    }
    
    .tor_testimonials_section .tor_testimonials_button>div {
        position: absolute;
        bottom: 0;
        width: 20px;
        overflow: hidden;
        cursor: pointer;
    }
    
    .tor_testimonials_section .tor_testimonials_button>div svg {
        fill: var(--main-gray-version19);
    }
    
    .tor_testimonials_section .tor_testimonials_button>div:hover svg {
        fill: var(--main-red-version1);
    }
    
    .tor_testimonials_section .tor_testimonials_button>div:hover {
        width: 35px;
    }
    
    .testNext {
        right: 0;
        text-align: right;
    }
    
    .testprev {
        left: 0;
    }
    
    .testPrev svg {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    
    .tor_testimonials_section .tor_testimonials_button>div:before {
        /* content: ""; */
        background: var(--main-red-version1);
        width: 15px;
        position: absolute;
        height: 2px;
        border: none;
        top: 12px;
        border-radius: 6px;
        opacity: 0;
    }
    
    .tor_testimonials_section .tor_testimonials_button>div:hover:before {
        opacity: 1;
    }
    
    .tor_testimonials_section .tor_testimonials_button>div svg {
        width: 20px;
        height: 20px;
    }
    
    .testPrev:before {
        right: 2px;
    }
    
    .testNext:before {
        left: 2px;
    }
    
    .tor_testimonial_section,
    .tor_testimonials_section .tor_testimonials_button>div,
    .tor_testimonials_section .tor_testimonials_button>div:hover,
    .tor_testimonials_section .tor_testimonials_button>div:before,
    .tor_testimonials_section .tor_testimonials_button>div:hover:before,
    .tor_testimonials_section .tor_testimonials_button>div svg,
    .tor_testimonials_section .tor_testimonials_button>div:hover svg {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    
    .tor_client_info>img {
        margin-top: 10px;
        max-height: 50px;
    }
    /********************************************************
    11. Booking CSS Start
********************************************************/
    
    .tor_booking_wrapper {
        position: relative;
        background: url(../images/booking_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        padding: 60px 0 60px;
    }
    
    .tor_booking_wrapper:before {
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.82);
    }
    
    .tor_booking_wrapper .tor_heading_wrpper p {
        color: var(--main-gray-version19);
    }
    
    .tor_booking_wrapper ul.nav {
        justify-content: center;
        border-color: var(--main-black3);
    }
    
    .tor_booking_wrapper .nav-tabs .nav-link {
        width: 100px;
        min-height: 90px;
        text-align: center;
        padding: 0;
        border: none;
        border-radius: 0;
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .tor_booking_wrapper .nav-tabs .nav-link.active {
        background-color: rgba(255, 255, 255, 0.26);
    }
    
    .tor_tab_icons svg {
        fill: var(--main-bg-color);
        height: 40px;
        width: 40px;
    }
    
    .tor_tab_icons span {
        color: var(--main-bg-color);
        margin-top: 4px;
        display: block;
    }
    
    .tor_booking_content {
        background: var(--main-bg-color);
        margin-top: 36px;
        border: none;
        border-radius: 6px;
        padding: 42px 50px 50px;
    }
    
    .tor_booking_wrapper .nav-tabs .nav-link.active:before {
        content: "";
        background: var(--main-red-version1);
        height: 3px;
        width: 40%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    
    .tor_booking_content .tor_subHeading {
        color: var(--main-blue-version3);
        margin: 0;
    }
    
    .tor_booking_wrapper form {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    
    .tor_booking_wrapper .tor_form_field {
        display: inline-block;
        width: 25%;
        margin-top: 20px;
        text-align: left;
    }
    
    .tor_booking_wrapper .tor_form_field .tor_btn {
        margin: 0;
        width: 100%;
    }
    
    .tor_radio_holder [type="radio"]:checked,
    .tor_radio_holder [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    
    .tor_radio_holder [type="radio"]:checked+label,
    .tor_radio_holder [type="radio"]:not(:checked)+label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        line-height: 18px;
        display: inline-block;
        margin-bottom: 7px;
    }
    
    .tor_radio_holder [type="radio"]:checked+label:before,
    .tor_radio_holder [type="radio"]:not(:checked)+label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 15px;
        height: 15px;
        border: 1px solid var(--main-blue-version2);
        border-radius: 100%;
        background: var(--main-bg-color);
    }
    
    .tor_radio_holder [type="radio"]:checked+label:after,
    .tor_radio_holder [type="radio"]:not(:checked)+label:after {
        content: '';
        width: 9px;
        height: 9px;
        background: var(--main-red-version1);
        position: absolute;
        top: 3px;
        left: 3px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    
    .tor_radio_holder [type="radio"]:not(:checked)+label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    
    .tor_radio_holder [type="radio"]:checked+label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    .tor_radio_holder {
        display: inline-flex;
    }
    
    .tor_booking_wrapper .tor_form_field.fullWidth {
        margin-top: 7px;
    }
    
    .tor_booking_wrapper .nav-tabs .nav-link.active:after {
        content: "";
        background: transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid var(--main-bg-color);
        border-left: 20px solid transparent;
        width: 35px;
        height: 20px;
        position: absolute;
        bottom: -38px;
    }
    /********************************************************
    12. Blog CSS Start
********************************************************/
    
    .tor_blog_wrapper {
        padding: 60px 0 60px;
    }
    
    .tor_blog_img,
    .tor_about_page_img {
        position: relative;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        cursor: pointer;
    }
    /* Shine Start*/
    
    .tor_blog_img::before,
    .tor_about_page_img::before {
        position: absolute;
        top: 0;
        left: -75%;
        z-index: 2;
        display: block;
        content: '';
        width: 50%;
        height: 100%;
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
        -webkit-transform: skewX(-25deg);
        transform: skewX(-25deg);
    }
    
    .tor_blog_img:hover::before,
    .tor_about_page_img:hover::before {
        -webkit-animation: shine 1.5s;
        animation: shine 1.5s;
    }
    
    @-webkit-keyframes shine {
        100% {
            left: 125%;
        }
    }
    
    @keyframes shine {
        100% {
            left: 125%;
        }
    }
    /* Shine End */
    
    .tor_blog_img img {
        width: 100%;
    }
    
    .tor_blog_info li {
        display: inline-block;
        margin-left: 14px;
    }
    
    .tor_blog_info li:first-child {
        margin-left: 0;
    }
    
    .blog_text {
        padding: 25px 0 0;
    }
    
    .tor_blog_info {
        margin-bottom: 11px;
    }
    
    .tor_blog_info li img {
        margin-right: 10px;
        vertical-align: middle;
    }
    
    .tor_blog_info a {
        color: var(--main-gray-version19);
        font-family: 'Yantramanav', sans-serif;
    }
    
    .tor_blog_title {
        font-size: 24px;
        font-weight: 700;
        font-style: italic;
        line-height: 35px;
    }
    
    .tor_blog_title:hover {
        color: var(--main-red-version1);
    }
    
    .tor_blog_thumb {
        background: var(--main-bg-color);
        margin-bottom: 28px;
    }
    
    .tor_blog_title,
    .tor_blog_title:hover {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    /********************************************************
    13. Partner CSS Start
********************************************************/
    
    .tor_partner_wrapper {
        position: relative;
        background: url(../images/partner_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        padding: 80px 0 50px;
    }
    
    .tor_partner_wrapper:before {
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.82);
    }
    
    .tor_partner_wrapper img {
        opacity: .6;
        max-height: 120px;
    }
    
    .tor_partner_wrapper img:hover {
        opacity: 1;
    }
    
    .tor_partner_wrapper img:hover,
    .tor_partner_wrapper img {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    /********************************************************
    14. Footer CSS Start
********************************************************/
    
    .tor_footer_main_wrapper {
        padding: 60px 0 0;
        position: relative;
        width: 100%;
        display: inline-block;
    }
    
    .tor_widgets h4 {
        font-size: 22px;
        font-weight: 900;
        font-style: italic;
        margin-bottom: 20px;
    }
    
    .newsletter_wrap {
        position: relative;
        margin: 6px 0 12px;
    }
    
    .newsletter_wrap input {
        background: var(--main-bg-color);
        width: 100%;
        position: relative;
        height: 50px;
        padding: 0 70px 0 20px;
        border: 1px solid var(--main-blue-version2);
        border-radius: 40px;
    }
    
    .newsletter_wrap input::-webkit-input-placeholder {
        color: var(--main-gray-version19);
    }
    
    .newsletter_wrap input::-moz-placeholder {
        color: var(--main-gray-version19);
    }
    
    .newsletter_wrap input:-ms-input-placeholder {
        color: var(--main-gray-version19);
    }
    
    .newsletter_wrap input:-moz-placeholder {
        color: var(--main-gray-version19);
    }
    
    .newsletter_wrap button {
        background: var(--main-red-version1);
        border: none;
        color: var(--main-bg-color);
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 50px;
        border-radius: 50%;
    }
    
    .tor_widgets h6 {
        font-size: 18px;
        color: var(--main-gray-version19);
        font-family: 'Yantramanav', sans-serif;
    }
    
    .tor_widgets h5 {
        font-weight: 700;
        font-size: 26px;
        line-height: 40px;
        font-family: 'Yantramanav', sans-serif;
    }
    
    .tor_widgets ul li {
        position: relative;
        padding-left: 20px;
        margin-bottom: 5px;
    }
    
    .tor_widgets ul li:before {
        position: absolute;
        left: 0;
        content: "";
        width: 5px;
        height: 5px;
        border: none;
        border-radius: 50%;
        top: 50%;
        background: var(--main-gray-version19);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    .tor_widgets ul li a {
        color: var(--main-gray-version19);
        position: relative;
    }
    
    .tor_widgets ul li a:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background: var(--main-gray-version19);
        right: 0;
        bottom: 0;
        opacity: 0;
    }
    
    .tor_widgets ul li a:hover:after {
        opacity: 0.6;
    }
    
    .tor_widgets ul li a:hover:after,
    .tor_widgets ul li a:after {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    .tor_widgets_contact h4 {
        font-weight: 700;
        font-size: 26px;
        font-style: italic;
        margin-bottom: 7px;
    }
    
    .footer_information {
        border-top: 1px solid var(--main-blue-version2);
        padding: 50px 0 0 0;
    }
    
    .tor_widgets_contact span {
        display: inline-block;
        width: 100px;
        height: 100px;
        line-height: 100px;
        background: var(--main-gray-version20);
        border: none;
        border-radius: 50%;
        margin-bottom: 22px;
    }
    
    .tor_widgets_contact span svg {
        width: 40px;
        height: 40px;
        line-height: 40px;
        fill: var(--main-red-version1);
    }
    
    .tor_widgets_contact a {
        color: #000;
        letter-spacing: 1px;
        line-height: 20px;
        display: inline-block;
        width: 100%;
    }
    
    .tor_copyright_wrapper {
        padding: 16px 0 13px;
        color: var(--main-bg-color);
        position: relative;
        margin-top: 41px;
        background: var(--main-red-version1);
        font-family: 'Yantramanav', sans-serif;
    }
    
    .tor_widgets_contact:hover span {
        background: var(--main-red-version1);
    }
    
    .tor_widgets_contact:hover svg {
        fill: var(--main-bg-color);
    }
    
    .tor_widgets_contact,
    .tor_widgets_contact:hover,
    .tor_widgets_contact:hover span,
    .tor_widgets_contact:hover svg {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    /********************************************************
	17. Page Title Start
*******************************************************/
    
    .page_title_wrapper {
        position: relative;
        background: url(../images/partner_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        padding: 173px 0 91px 0;
        color: var(--main-bg-color);
    }
    
    .page_title_wrapper:before {
        content: "";
        background: var(--main-link-color);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0.9;
    }
    
    .page_title_text h1 {
        color: var(--main-bg-color);
        font-size: 38px;
        line-height: 46px;
        font-weight: 700;
        margin-bottom: 6px;
    }
    
    .page_title_text ul {
        display: flex;
        justify-content: center;
    }
    
    .page_title_text ul>li {
        position: relative;
        padding-left: 20px;
    }
    
    .page_title_text ul>li:first-child {
        padding-left: 0;
    }
    
    .page_title_text ul>li:before {
        content: "//";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 6px;
    }
    
    .page_title_text ul>li:first-child:before {
        content: unset;
    }
    
    .page_title_text ul>li a {
        color: var(--main-bg-color);
    }
    /********************************************************
	17. About Page  Start
*******************************************************/
    
    .tor_about_page_wrapper {
        padding: 80px 0 50px;
    }
    
    .tor_about_page_img,
    .tor_about_page_text {
        margin-bottom: 30px;
    }
    
    .tor_about_page_text .tor_heading_wrpper {
        width: 100%;
        margin: 0px 0 35px 0;
    }
    
    .tor_about_page_img img {
        width: 100%;
    }
    
    .tor_about_page_info h5 {
        font-weight: 600;
        margin-bottom: 0;
        font-size: 22px;
    }
    
    a.tor_about_num {
        font-size: 42px;
        font-weight: 800;
        line-height: 60px;
        color: var(--main-red-version1);
    }
    
    .tor_about_page_wrapper .row {
        align-items: center;
    }
    /********************************************************
	17. Contact Page CSS Start
********************************************************/
    
    .tor_contact_wrapper {
        background: var(--main-bg-color);
        padding: 80px 0;
    }
    
    .tor_contact_from {
        width: 100%;
        margin: auto;
        background: var(--main-bg-color);
        box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.08);
        padding: 45px 50px 50px;
    }
    
    .tor_contact_from .tor_title {
        margin-bottom: 26px;
    }
    
    .tor_inputField {
        margin-bottom: 30px;
        position: relative;
    }
    
    .tor_inputField input,
    .tor_inputField textarea {
        width: 100%;
        padding: 0 60px 0 20px;
        height: 50px;
        box-shadow: inset 0 0 10px 0 rgba(194, 71, 96, 0.03);
        border: 1px solid var(--main-blue-version2);
        color: var(--main-blue-version2);
        border-radius: 40px;
    }
    
    .tor_inputField input:focus,
    .tor_inputField textarea:focus {
        border-color: var(--main-blue-version2);
    }
    
    .tor_inputField input:focus,
    .tor_inputField textarea:focus,
    .tor_inputField input,
    .tor_inputField textarea {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    
    .tor_inputField i {
        position: absolute;
        top: 0;
        right: 20px;
        bottom: 0;
        margin: auto;
        color: var(--main-blue-version2);
        line-height: 50px;
    }
    
    .tor_inputField textarea {
        padding: 15px 60px 15px 20px;
    }
    
    .tor_contact_from .tor_btn {
        margin: 1px 0 0 0;
    }
    
    .tor_contact_from input::-webkit-input-placeholder,
    .tor_contact_from textarea::-webkit-input-placeholder {
        color: var(--main-blue-version2);
    }
    
    .tor_contact_from input::-moz-placeholder,
    .tor_contact_from textarea::-moz-placeholder {
        color: var(--main-blue-version2);
    }
    
    .tor_contact_from input:-ms-input-placeholder,
    .tor_contact_from textarea:-ms-input-placeholder {
        color: var(--main-blue-version2);
    }
    
    .tor_contact_from input:-moz-placeholder,
    .tor_contact_from textarea:-moz-placeholder {
        color: var(--main-blue-version2);
    }
    /********************************************************
	22. Blog Page Start
*******************************************************/
    
    .blogPage_wrapper {
        padding: 80px 0 80px;
    }
    
    .sideBarWidgets {
        margin-bottom: 42px;
    }
    
    .sideBarWidgets:last-child {
        margin-bottom: 0px;
    }
    
    .blogSidebar,
    .sideBarWidgets {
        width: 100%;
    }
    
    .blogSearchWrapper {
        position: relative;
    }
    
    .blogSearchWrapper input {
        width: 100%;
        border: 1px solid #e6e6e6;
        height: 50px;
        border-radius: 6px;
        padding: 0 50px 0 30px;
        position: relative;
        line-height: 50px;
        margin-bottom: 4px;
    }
    
    .blogSearchWrapper>a {
        position: absolute;
        right: 18px;
        top: 0;
        color: var(--main-red-version1);
        bottom: 0;
        line-height: 50px;
    }
    
    .sideBarWidgets .blogPageTitle {
        padding-bottom: 10px;
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 22px;
        text-transform: capitalize;
    }
    
    .blogPageThumb img {
        border: none;
        border-radius: 3px;
    }
    
    .blogPageTitleWrapper {
        width: calc(100% - 80px);
    }
    
    .blogPageSubTitle {
        font-weight: 700;
        text-transform: capitalize;
    }
    
    .blogDate {
        color: var(--main-red-version1);
        font-weight: 700;
    }
    
    .blogMainImg,
    .blogPageThumb {
        position: relative;
        overflow: hidden;
    }
    
    .blogMainImg img {
        border: none;
        width: 100%;
        border-radius: 15px;
    }
    
    .blogMainImg:after,
    .blogMainImg:before,
    .blogPageThumb:after,
    .blogPageThumb:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        z-index: 1;
        background: var(--main-bg-color);
        -webkit-transition: all .5s linear;
        -moz-transition: all .5s linear;
        -ms-transition: all .5s linear;
        -o-transition: all .5s linear;
        transition: all .5s linear;
    }
    
    .blogMainImg:before,
    .blogMainImg:hover:before,
    .blogPageThumb:before,
    .blogPageThumb:hover:before {
        right: 0;
        top: 0;
    }
    
    .blogMainImg:hover:after,
    .blogMainImg:hover:before,
    .blogPageThumb:hover:after,
    .blogPageThumb:hover:before {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    
    .blogMainImg:after,
    .blogMainImg:hover:after,
    .blogPageThumb:after,
    .blogPageThumb:hover:after {
        left: 0;
        bottom: 0;
    }
    
    .blogMainImg:after,
    .blogPageThumb:after {
        opacity: .3;
    }
    
    .blogPageInfo ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .blogPageInfo ul li {
        margin-right: 60px;
    }
    
    .blogPageInfo ul li:last-child {
        margin-right: 0px;
    }
    
    .blogPageInfo {
        padding: 30px 0 21px;
    }
    
    .blogPageInfo ul li img.blogUser,
    .blogPageInfo ul li i {
        margin-right: 10px;
    }
    
    .blogPageInfo ul li .blogUser_name,
    .blogPageInfo ul li i {
        color: var(--main-red-version1);
    }
    
    img.blogUser {
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }
    
    .blogPageInfo ul li a {
        color: var(--main-txt-color);
    }
    
    .blogPageInfo ul li a:hover {
        color: var(--main-red-version1);
    }
    
    .blogHeading {
        font-size: 38px;
        font-weight: 700;
        line-height: 46px;
        display: inline-block;
        margin-bottom: 12px;
    }
    
    .blogBtn {
        margin-top: 21px;
    }
    
    .blogSection {
        margin-bottom: 50px;
    }
    
    .blogPaginationWrapper ul li {
        display: inline-block;
        font-size: 18px;
    }
    
    .blogPaginationWrapper ul li a,
    .blogPaginationWrapper ul li.dot:hover a {
        color: var(--main-link-color);
        font-weight: 700;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        line-height: 42px;
        display: inline-block;
        text-align: center;
        background: var(--main-bg-color);
    }
    
    .blogPaginationWrapper ul li.dot:hover a {
        cursor: none;
    }
    
    .blogPaginationWrapper ul li.blogPagePrev a,
    .blogPaginationWrapper ul li.blogPageNext a {
        width: auto;
        height: 40px;
    }
    
    .blogPaginationWrapper ul li.blogPagePrev:hover a,
    .blogPaginationWrapper ul li.blogPageNext:hover a {
        background: var(--main-bg-color);
        color: var(--main-red-version1);
    }
    
    .blogPaginationWrapper ul li.active a,
    .blogPaginationWrapper ul li:hover a {
        color: var(--main-bg-color);
        background: var(--main-red-version1);
    }
    /********************************************************
	23. Blog Single Page Start
*******************************************************/
    
    .blogPage_wrapper.blogPageSingleWrapper {
        padding: 80px 0 80px;
    }
    
    .blogPageBlockquote {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .blogPageBlockquote_img {
        width: 160px;
        margin-right: 10px;
        position: relative;
    }
    
    .blogBlockquoteQuate {
        width: calc(100% - 170px);
        color: var(--main-link-color);
        position: relative;
        text-align: center;
    }
    
    .blogBlockquoteQuate p,
    .blogQuateUser {
        text-align: left;
    }
    
    .blogPageBlockquote_img img.blogQuateUser {
        border: 3px solid var(--main-red-version1);
        border-radius: 50%;
        width: 130px;
        height: 130px;
    }
    
    .blogPageBlockquote_img:before {
        content: "\f10e";
        right: 12px;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        color: var(--main-red-version1);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        width: 40px;
        height: 40px;
        line-height: 32px;
        background: var(--main-bg-color);
        border: 5px solid var(--main-red-version1);
        padding-left: 8px;
        border-radius: 100%;
    }
    
    .blogQuateUser {
        color: var(--main-link-color);
        font-weight: 700;
        font-size: 20px;
        width: 100%;
        display: inline-block;
    }
    
    .blogQuateUser>span {
        color: var(--main-txt-color);
        font-size: 16px;
        font-weight: 400;
    }
    
    .blogBlockquoteQuate:before {
        content: "\f10e";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        color: var(--main-red-version1);
        position: absolute;
        left: 0;
        right: 0;
        font-size: 2%;
        margin: auto;
    }
    
    .blogBlockquoteQuate:before {
        content: "\f10e";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        color: var(--main-red-version1);
        position: absolute;
        left: 0;
        right: 0;
        font-size: 84px;
        margin: auto;
        top: 50%;
        opacity: .1;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }
    
    .blogImgTextContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .blogImgTextContainer img {
        width: 370px;
        display: inline-block;
        margin: 6px 15px 6px 0;
    }
    
    .blogImgTextContainer p {
        display: inline-block;
        width: calc(100% - 385px);
    }
    
    .blogAuthoreMessageBox {
        background: var(--main-red-version1);
        border: none;
        border-radius: 15px;
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 71px 0 71px;
        color: var(--main-bg-color);
    }
    
    .blogAuthoreContent h5 {
        color: var(--main-bg-color);
        font-weight: 700;
        font-size: 20px;
    }
    
    .blogAuthoreContent h5 span {
        font-weight: 400;
        font-size: 16px;
    }
    
    .blogAuthoreContent {
        width: calc(100% - 140px);
    }
    
    .blogAuthoreImg {
        width: 110px;
        height: 110px;
        overflow: hidden;
        margin-right: 30px;
    }
    
    .blogAuthoreImg img {
        width: 110px;
        height: 110px;
        border: none;
        border-radius: 100%;
        object-fit: fill;
    }
    
    .blogCommentHolder {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .blogCmntDetail {
        width: calc(100% - 130px);
    }
    
    .blogCmntUser {
        width: 100px;
        height: 100px;
        overflow: hidden;
        margin-right: 30px;
    }
    
    .blogCmntUser img {
        width: 100px;
        height: 100px;
        border: none;
        border-radius: 100%;
        object-fit: fill;
    }
    
    .blogCommnets>ul>li {
        margin-bottom: 26px;
        display: inline-block;
    }
    
    .blogCommnets ul li ul {
        padding-left: 80px;
    }
    
    .blogCommnets>ul>li>ul>li {
        margin-top: 26px;
    }
    
    .blogPageCommentForm {
        margin-top: 43px;
    }
    
    .blogInputFieldInner {
        width: 100%;
        border: 1px solid var(--main-blue-version2);
        padding: 0 20px;
        height: 50px;
        border-radius: 40px;
        display: flex;
        color: var(--main-blue-version2);
    }
    
    textarea.blogInputFieldInner {
        height: 150px;
        resize: none;
        padding: 12px 20px;
    }
    
    .blogPageCommentForm input::-webkit-input-placeholder,
    .blogPageCommentForm textarea::-webkit-input-placeholder {
        color: var(--main-blue-version2);
    }
    
    .blogPageCommentForm input::-moz-placeholder,
    .blogPageCommentForm textarea::-moz-placeholder {
        color: var(--main-blue-version2);
    }
    
    .blogPageCommentForm input:-ms-input-placeholder,
    .blogPageCommentForm textarea:-ms-input-placeholder {
        color: var(--main-blue-version2);
    }
    
    .blogPageCommentForm input:-moz-placeholder,
    .blogPageCommentForm textarea:-moz-placeholder {
        color: var(--main-blue-version2);
    }
    
    .blogInputField {
        margin-bottom: 30px;
    }
    
    .blogPageCommentForm .blogSectionHeading {
        margin-bottom: 40px;
    }
    
    .blogPageCommentForm .theme_btn {
        margin: 0;
    }
    
    .blogCmntReply {
        color: var(--main-red-version1);
        margin-left: 15px;
    }
    
    .blogCmntReply svg {
        width: 16px;
        fill: var(--main-red-version1);
    }
    
    .blogDivider {
        margin: 22px 0;
        display: block;
    }
    
    a.pnt_btn.blogBtn {
        background: var(--main-red-version1);
        color: var(--main-bg-color);
    }
    
    .blogPaginationWrapper {
        text-align: center;
    }
    
    .blogSectionHeading {
        font-size: 32px;
        font-weight: 700;
        margin: 0 0 26px;
    }
    
    .fixed_header.fixed .main_menu_wrapper ul>li>a {
        color: #000;
    }
    
    .fixed_header.fixed .main_menu_wrapper ul>li>a:hover {
        color: #067b8f;
    }
    
    .cld-shape-1 {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 99;
    }
    
    .tor_heading_wrpper p,
    .tor_best_serivce_section p {
        color: #000;
        letter-spacing: 1px;
        font-weight: 400;
        line-height: 20px;
    }
    
    .tor_form_field_inner {
        margin-bottom: 15px;
    }
    
    .secondary-bg {
        background-color: #fcd00d;
    }
    
    input.tor_field_inner {
        letter-spacing: 1px;
    }
    
    input.tor_field_inner::placeholder {
        color: rgba(0, 0, 0, 0.8);
    }
    
    input.tor_field_inner:-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.8);
    }
    
    input.tor_field_inner::-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.8);
    }